<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <div>
          <h3>Alias:</h3>
        </div>
      </ion-row>

        <ion-row>
          <div>
            <h3>Correo:</h3>
          </div>
        </ion-row>

          <ion-row>
            <div>
              <h3>Descripcion</h3>
            </div>
          </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
