<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Peliculas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <div>
          <ion-item>
            <ion-searchbar [(ngModel)]="terminoBusqueda" placeholder="Peliculas"></ion-searchbar>
            <ion-button (click)="getMovie()">Ver peliculas</ion-button>
          </ion-item>
        </div>
      </ion-row>
      <ion-row>
        <ion-list>
          <ion-item *ngFor="let peli of Peliculas" [routerLink]="['./details/'+peli.id]">
            <ion-thumbnail>
              <ion-img [src]="peli.poster"></ion-img>
            </ion-thumbnail>
            <ion-label>{{peli.titulo}} </ion-label>
            <ion-label><h5>{{peli.anio}}</h5></ion-label>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
