<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio de Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <div>
          <ion-item>
            <ion-label required="true" type="text" placeholder="usuario123">Alias</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>
      </ion-row>

      <ion-row>
        <div>
          <ion-item>
            <ion-label required="true" type="password" placeholder="micontra123#">Contraseña</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <ion-row>
        <ion-button (click)="loginUsuario()">Iniciar Sesion</ion-button>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
