<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rotten Tomatoes</ion-title>  
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-buttons slot="end" name="search">
    <ion-searchbar showCancelButton="focus"></ion-searchbar>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <h3>Bienvenido</h3>
          Esta es una aplicacion orientada al rating de peliculas.
          Encontraras todo tipo de peliculas para opinar y comentar al respecto.
          Proyecto Realizado por: Mario González y Jose Jimenez
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
